#login_button{

}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #dae0d0;
}
#logo{
	background-image: url(images/logo.gif);
}