{% extends "shopping_app/base.html" %}
	{% block content %}
		<div class="container-fluid detail">
			<div class="container-fluid detail">
			<center>
				<div id="user-detail">Welcome {{ request.user }}</div>
			</center>
			</div>
			<div class="container-fluid detail">

					<div class="row product-detail">
					{% for detail in object_list %}

							<div class="col-sm-4">
								<div class="card img-fluid" >
									<img class="card-img-top image-size" src="{{detail.Upload_image.url}}" alt="Responsive image">
									<div class="card-img-overlay">
										<div class="card-text"><a href="{% url 'productdetails' detail.pk %}" >{{detail.Discription}}</a></div>
										<div>Price={{detail.Price}}</div>
									</div>
								</div>
							</div>

						{% if forloop.counter|divisibleby:3 %}
							</div>
							<div class="row">
						{% endif %}
					{% endfor %}

					</div>
				</ul>
			</div>
		</div>
	{% endblock %}


